body{
    background-color: #232220;
    color: white;
    font: 700 25px 'Josefin Slab', serif;
}

.mode-container{
    width: 100%;
    height: 100%;
    position: fixed;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mode-choice-container{
    display: flex;
}